*
{
    font-family: 'Open Sans', sans-serif;
}

/* Separators */
.sep-up {
    background-image: url(../img/cloud-up.png);
    background-position: center;
    background-size: cover;
    min-height: 40vh;
    width: 100%;
    position: relative;
}

.sep-down {
    background-image: url(../img/cloud-down.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 55vh;
    margin-top: -20vh;
    position: relative;
}

.sep-down-foot {
    background-image: url(../img/cloud-down-footer.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 2;
    min-height: 30vh;
    margin-top: -5vh;
    margin-bottom: -6vh;
}


/* Navbar */
nav {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-nav {
    letter-spacing: .10vw;
    font-size: 2vh;
}

.navbar-nav .nav-item .nav-link {
    margin-left: 1vw;
    margin-right: .1vw;

}

.navbar-nav .nav-item .nav-link a {
    color: #54524f;

}

.collapse form input{
    background-color: #7f7770;
    opacity: 47%;
    width: 80%;
}

.collapse form button {
    color: #54524f;
    height: 5.5vh;
    width: 3.5vw;
    position: absolute;
    margin-left: 9vw;
}

@media (max-width: 1200px) {
    .collapse form input{
        width: 100%;
    }

    .collapse form button {
        position: relative;
        width: auto;
        height: auto;
        margin: auto;
    }
}


/* Hero */
.jumbotron {
    background-image: url(../img/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: -9.4vh;
    min-height: 110vh;
    position: relative;
}

.jumbotron .container {
    padding-top: 30vh;
    padding-bottom: 30vh;
}

.jumbotron .container h1, h3 {
    text-transform: uppercase;
}

.jumbotron .container h1 {
    font-weight: 900;
    color: #deb37e;
    text-shadow: 3px -2px 5px rgba(0, 0, 0, .22);
}

.jumbotron .container h3 {
    font-weight: 700;
    color: #54524f;
    font-style: italic;
}

.jumbotron .container button {
    text-transform: uppercase;
    font-weight: 900;
    color: #776c64;
    margin-top: 4vh;
    width: 150px;
}

.jumbotron .container .text {
    width: 37%;
    margin-top: 1vh;
}

.jumbotron .container p {
    font-weight: 500;
    font-style: italic;
    color: #54524f;
    word-break: keep-all;
}

/* Group2 */
@media (max-width: 1200px) {
    .sep-down {
        margin-top: -25vh;
    }
}

.group2 {
    position: relative;
    z-index: 11;
}

.group2 .container {
    margin-top: -25vh;
    text-align: center;
    padding-bottom: 3vh;
}

.group2 .container h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 6vh;
    color: #e2a355;
}

.group2 .container .text-group2 {
    color: #7f7770;
    font-weight: 400;
    width: 30vw;
    margin: 4vh auto;
}

.group2 .pic {
    padding-right: 10vw;
    padding-left: 10vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.group2 .pic .row .card {
    width: 16em;
    margin: auto;
    text-align: left;
}

.group2 .pic .row .col {
    margin-bottom: 4vh;
}

.group2 .pic .card .card-body {
    background-color: #7f7770;
    color: white;
}

.group2 .pic .card .card-body .card-title {
    font-weight: 700;
    margin-top: 4vh;
}

.group2 .pic .card .card-body .card-text {
    font-weight: 300;
}

.group2 .pic button {
    margin-bottom: 4vh;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .2em;
    width: 15em;
    height: 2.8em;
    background-color: #7f7770;
}

.group2 {
    background-image: url(../img/bg-2.png);
    background-position: bottom left -30vw;
    background-attachment: scroll;
    background-repeat: no-repeat;
    min-height: 10vh;
}

/* Group 3 & 4*/
.group3, .group4 {
    margin: auto;
    overflow: hidden;
    position: relative;
}

@media (max-width: 1200px) {
    .group3 .row {
        display: block;
    }
    .group4 .row {
        display: block;
    }
}

.group3 .row .col {
    padding: 0;
}

.group3 .row .col .image img {
    width: 100%;
    height: 100%;
}

.group3 .row .col .discount {
    background-color: #7f7770;
    color: white;
    padding: 28vh 5vw;
    height: 100%;
}

.group3 .row .col .discount h3 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: capitalize;
}

.group3 .row .col .discount p {
    font-weight: 400;
    margin-top: 4vh;
}

.group3 .row .col button {
    font-weight: 700;
    background-color: #e2a355;
    color: white;
    width: 180px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-top: 4vh;
}

.group4 .row .col {
    padding: 0;
}

.group4 .row .col .image img {
    width: 100%;
    height: 100%;
}

.group4 .row .col .promo {
    background-color: #deb37e;
    color: white;
    padding: 28vh 8vw 10vh 11vw;
    height: 100%;
}

.group4 .row .col .promo h3 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: capitalize;
}

.group4 .row .col .promo p {
    font-weight: 400;
    margin-top: 4vh;
}

.group4 .row .col button {
    font-weight: 700;
    background-color: #e2a355;
    color: white;
    width: 180px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-top: 4vh;
}

/* Group 5 */
.group5 {
    background-image: url(../img/bg-3.png);
    background-repeat: no-repeat;
    background-position: left -50vh center;
    background-color: #7f7770;
    position: relative;
    z-index: -100;
    opacity: 80%;
    min-height: 20vh;
}

.group5 .container {
    min-height: 75vh;
    text-align: center;
    color: white;
}

@media (max-width: 768px) {
    .group5 {
        min-height: 180vh;
    }
}

.group5 .container h1 {
    margin-bottom: .5em;
    margin-top: 2.5em;
    font-size: 3em;
    font-weight: 600;
}

.group5 .container p {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 5em;
    
}

/* Group 6 */
.group6 .jumbotron2 {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: -20vh;
    position: relative;
    z-index: -1;
    min-height: 110vh;
}

.group6 .jumbotron2 .container {
    text-align: right;
    padding-top: 45vh;
    padding-bottom: 0;
    margin-top: 0;
}

.group6 .jumbotron2 .container h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    font-size: 3.5rem;
    text-shadow: 5px -2px 5px rgba(84, 82, 79, .36);
}

/* Group 7 */
.group7 {
    background-image: url(../img/bg-4.png);
    background-position: bottom -38vh right -25vw;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;
}

.group7 .container {
    margin-top: -20vh;
}

.group7 .container .row {
    margin: auto;
}

.group7 .container .col h4 {
    color: #deb37e;
    font-weight: 700;
}

.group7 .container .col p {
    font-weight: 400;
    color: #333d42;
}

.group7 .container .quote {
    text-align: center;
    margin: auto;
    width: 70%;
    color: #3f3f3f;
    margin-top: 18vh;
}

.group7 .container .quote h1 {
    font-weight: 700;
    font-size: 10vh;
    transform: rotate(180deg);
    font-style: italic;
}

.group7 .container .quote p {
    font-weight: 600;
    font-size: 2.8vh;
}

.group7 .container .quote h6 {
    font-weight: 700;
    font-size: 2.8vh;
    margin-top: 4vh;
}

/* Group 8 */
.group8 {
    min-height: 100vh;
    background-color: #deb37e;
    margin: auto;
}

.group8 .container {
    text-align: center;
    width: 50%;
}

.group8 .container h1 {
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 3em;
}

.group8 .container p {
    margin-top: 2em;
    color: #54524f;
    font-weight: 400;
    font-size: 1.2em;
}

.group8 .container .input-group {
    width: 80%;
    margin: 4em auto;
}

.group8 .container .input-group button {
    z-index: 99999;
    text-transform: uppercase;
    background-color: #54524f;
    font-weight: 700;
    width: 150px;
}

/* Group 9 */
.group9 {
    background-color: #7f7770;
    min-height: 80vh;
    padding-top: 30vh;
    color: white;
}

.group9 .container {
    margin: auto;
}

@media (max-width: 1200px) {
    .group9 .container {
        display: block;
    }

    .group9 .container .row .col {
        margin-bottom: 2em;
    }
}

.group9 .container .row .col img {
    height: 30px;
    display: inline-block;
}

.group9 .container .row .col h5 {
    text-transform: capitalize;
    font-size: 2.3em;
    margin-bottom: .5em;
    font-weight: 400;
}

.group9 .container .row .col-lg-4 h5 {
    text-transform: capitalize;
    font-size: 2.3em;
    margin-bottom: .5em;
    font-weight: 400;
}
.group9 .container .row .col-4 p {
    font-size: 1.4em;
    font-weight: 300;
}

.group9 .container .row .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.group9 .container .row .col ul li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    text-transform: capitalize;
    text-align: left;
}


/* Navbar
.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 650;
    color: #54524f;
    margin-left: 20px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #e2a355;
}


/* Jumbotron
.jumbotron-fluid {
    background-image: url(../img/bg-1.png);
    background-size: cover;
    min-height: 850px;
    max-height: 850px;
    margin-top: 50px;
}

.jumbotron h1 {
    font-size: 70px;
    font-weight: 900;
    color: #deb37e;
    text-shadow: 4px -2px 7px rgba(0, 0, 0, 0.2);
}

.jumbotron p.lead {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #54524f;
}

.jumbotron a {
    font-size: 18px;
    font-weight: 900;
    color: #776c64;
    margin-top: 50px;
}

.jumbotron p.read {
    margin-top: 20px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: #54524f;
}

.jumbotron .container {
    margin-top: 170px;
} */

/* Let's GO
section#letsgo .container-fluid h1.head {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 42px;
    color: #e2a355;
}

section#letsgo .container-fluid p.sub {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #7f7770;
    margin-bottom: 30px;
}

section#letsgo .container-fluid .card .card-body {
    background-color: #7f7770;
}

section#letsgo .container-fluid .card .card-body h5.card-title {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 25px;
}

section#letsgo .container-fluid .card .card-body p.card-text {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

section#letsgo .btn-secondary {
    background-color: #7f7770;
    font-weight: 600;
    width: 250px;
}

section .bottom img {
    left: 0;
    width: 580px;
    height: 350px;
    margin-left: -75px;
    margin-top: -248px;
    position: absolute;
    opacity: 48%;
    margin-bottom: 80px;
} */

/* Discount
section#discount {
    margin-top: 100px;
    background-color: #7f7770;
    padding: 0;
    overflow: hidden;
}

section#discount .row img {
    min-width: 710px;
    min-height: 680px;
}

section#discount .row .col-lg-6 .container-sm h3 {
    font-weight: 600;
    color: white;
    font-size: 46px;
    margin-top: 180px;
    margin-left: 60px;
}

section#discount .row .col-lg-6 .container-sm p {
    font-weight: 400;
    color: white;
    font-size: 23px;
    margin-top: 30px;
    margin-left: 60px;
    text-align: left;
}

section#discount .btn-warning {
    background-color: #e2a355;
    font-weight: 700;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    width: 250px;
    height: 48px;
    margin-left: 80px;
    margin-top: 10px;
} */

/* Promo
section#promo {
    background-color: #deb37e;
    padding: 0;
    overflow: hidden;
}

section#promo .col-lg-6 img {
    max-width: 700px;
    min-height: 680px;
    margin-left: 25px;
}

section#promo .row .col-lg-6 .container-sm h3 {
    font-weight: 600;
    color: white;
    font-size: 56px;
    margin-top: 180px;
    margin-left: 100px;
}

section#promo .row .col-lg-6 .container-sm p {
    font-weight: 400;
    color: white;
    font-size: 23px;
    margin-top: 30px;
    margin-left: 100px;
    text-align: left;
}

section#promo .btn-warning {
    background-color: #e2a355;
    font-weight: 700;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    width: 250px;
    height: 48px;
    margin-left: 100px;
    margin-top: 30px;
} */

/* text/Banner
section#text {
    overflow: hidden;
    background-color: #7f7770;
    color: white;
}

section#text .container-fluid .cloud-up img {
    background-size: cover;
    margin-left: -15px;
    position: relative;
    margin-bottom: 80px;
}

section#text .container-fluid .cloud-down img {
    background-size: cover;
    margin-left: -15px;
    position: relative;
    margin-top: 80px;
}

section#text .container-fluid .container h3 {
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 30px;
}

section#text .container-fluid .container p {
    font-weight: 400;
    font-size: 20px;
}

section#text .shadow img {
    left: 0;
    width: 580px;
    height: 420px;
    margin-left: -75px;
    margin-top: -350px;
    position: absolute;
    opacity: 48%;
    margin-bottom: 80px;
}

section#text .cloud-down img {
    z-index: 1;
    position: relative;
}

section#text .jumbotron.banner {
    background-image: url(../img/banner.png);
    margin-left: -300px;
    overflow: hidden;
    background-size: cover;
    min-height: 1100px;
    margin-top: -120px;
    margin-bottom: -30px;
    z-index: -1;
}

section#text .jumbotron.banner .orange h1.display-4 {
    margin-top: 430px;
    margin-left: 1250px;
    font-style: italic;
    text-transform: uppercase;
}

section#text .jumbotron.banner .black h1.display-4 {
    margin-left: 1150px;
    font-style: italic;
    color: #54524f;
    text-transform: uppercase;
} */

/* buch of text
section#text2 {
    margin-top: 150px;
}

section#text2 .container h3 {
    color: #deb37e;
    margin-bottom: 30px;
    font-weight: bold;
}

section#text2 .container p {
    color: #333d42;
    
} */


/* Qoute
section#quote {
    overflow: hidden;
}

section#quote .container h1 {
    font-size: 72pt;
    font-weight: bold;
    color: #3f3f3f;
    font-style: italic;
    text-align: center;
    margin-top: 180px;
}

section#quote .container blockquote.blockquote {
    text-align: center;
    color: #3f3f3f;
    font-weight: 500;
    margin-top: -30px;
}

section#quote .container footer {
    margin-top: 30px;
    color: #3f3f3f;
}


section#quote .shadow2.float-right img {
    rotate: 200deg;
    margin-top: -280px;
    margin-right: -300px;
    opacity: 48%;
}

Subscribe
section#subscribe {
    overflow: hidden;
    background-color: #e2a355;
}

section#subscribe .container-fluid .cloud-up img {
    background-size: cover;
    margin-left: -15px;
    margin-bottom: 80px;
    margin-top: -150px;
    z-index: 20;
}

section#subscribe .container h1 {
    font-size: 72pt;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
}

section#subscribe .container p {
    color: #54524f;
    font-size: 20px;
    word-wrap: break-word;
    margin-bottom: 40px;
}

section#subscribe .form-row button {
    z-index: 10;
    width: 130px;
    margin-left: -30px;
}

section#subscribe .form-row button.btn-secondary {
    background-color: #54524f;
    margin-bottom: 100px;
}

section#subscribe .container-fluid .cloud-down img {
    z-index: 30;
    margin-left: -15px;
} */

/* Footer
section#footer {
    margin-top: -100px;
    background-color: #7f7770;
    overflow: hidden;
}

section#footer h5 {
    font-size: 30pt;
    margin-bottom: 20px;
    margin-top: 280px;
    color: white;
}

section#footer p {
    font-size: 15px;
    color: white;
}

section#footer li {
    margin-top: 10px;
}

section#footer li a {
    text-decoration: none;
    color: white;
}

section#footer span a {
    text-decoration: none;
    color: white;
    letter-spacing: 1em;
}

section#footer footer {
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: #7f7770;
}

section#footer footer a {
    text-decoration: none;
    color: white;
}
